@font-face {
	font-family: "Garamond";
	src: url(../fonts/garamond.otf);
}

body {
	font-family: "Garamond";
	font-size: 16px;
	color: #8d8d8d;
	letter-spacing: 1px;
	width: 1349px;
	margin: 0 auto;
}

header {
	padding: 10px 0;
}

.container {
	width: 1170px;
}

#menu {
	padding: 10px 0;
	font-size: 18px;
	height: 73px;
}

.hr {
	margin: 0px auto 15px;
}

.circle-small {
	background-color: #8d8d8d;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin: 2px 40px;
	display: inline-block;
}

.big-font {
	font-size: 120%;
}

.green_link {
	color: #8d8d8d;
}

.green_link:hover {
	color: #8d8d8d;
}

#menu .container {
	cursor: default;
}

#menu a {
	color: #8d8d8d;
	padding: 15px;
}

#menu a:hover {
	text-decoration: none;
	border-bottom: 1px solid #8d8d8d;
}

#menu .active {
	border-bottom: 1px solid #8d8d8d;
}

hr {
	border-top: 1px solid #8d8d8d;
}

.form-control {
	border-color: #8d8d8d;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	height: 24px;
	color: #8d8d8d;
	line-height: 26px;
	padding: 0 5px;
}

.wide_img img {
	position: relative;
	width: 100%;
	height: auto;
}

.half_img {
	width: 50%;
	float: left;
	text-align: center;
	position: relative;
}

.half_img img,
.big_half_img img {
	width: 100%;
	height: auto;
}

.wide_img .msg {
	position: absolute;
	right: 15%;
	z-index: 1;
	color: #fff;
	top: 230px;
}

.half_img .msg {
	position: absolute;
	z-index: 1;
	color: #fff;
	top: 230px;
	margin: 0 auto;
	left: 50%;
	width: 200px;
	margin-left: -100px;
}

.big_half_img .msg {
	position: absolute;
	z-index: 1;
	color: #fff;
	top: 80px;
	margin: 0 auto;
	left: 50%;
	width: 300px;
	margin-left: -150px;
}

..big_half_img .msg h3,
.half_img .msg h3,
.wide_img .msg h3 {
	margin: 0;
}

..big_half_img .msg hr,
.half_img .msg hr,
.wide_img .msg hr {
	margin: 10px -20px;
}

.big_half_img {
	position: relative;
	float: left;
	width: 75%;
}

.small_half_img {
	float: left;
	width: 25%;
	background-color: #7F9592;
	padding: 70px 0;
	height: 270px;
	color: #fff;
}

.relative {
	position: relative;
}

.fila,
.fila-2 {
	position: relative;
	overflow: hidden;
	height: 500px;
}

.fila-2 {
	height: 270px;
}

footer {
	background-color: #0f8979;
	padding: 20px 0;
	color: #fff;
}

footer hr {
	margin-top: 0;
}

.redes {
	margin: 0 10px;
}

footer .circle-small {
	background-color: #fff;
	margin: 2px 30px;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #fff;
}

.rif {
	margin-left: 20px;
}

.tab-title {
	padding-bottom: 2px;
	border-bottom: 1px solid #8d8d8d;
	display: table;
	margin: 10px auto 50px;
}

.content {
	padding: 50px 0;
}

.bordered_img {
	border-top: 1px solid #8d8d8d;
	border-bottom: 1px solid #8d8d8d;
	padding: 10px 0;
	width: 100%;
}

.full_bordered_img {
	border: 1px solid #8d8d8d;
	padding: 10px;
	width: 100%;
}

.full_width {
	width: 100%;
}

.btn-gray {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	background-color: #8d8d8d;
	color: #fff;
	font-size: 18px;
}

.btn-gray:hover {
	color: #fff;
}